<h2 class="title">Branch Management</h2>

<button class="btn add-btn" routerLink="/branch/create">+ Add</button>

<div class="search-box">

  <input type="text" placeholder="Branch ID (BID)" [(ngModel)]="searchForm.bid" />

  <select [(ngModel)]="searchForm.aid" class="area">
    <option [ngValue]="null">-- Chọn Area --</option>
    <option *ngFor="let item of areas" [ngValue]="item.aid">
      {{ item.name }}
    </option>
  </select>
  
  <input class="branch-name" type="text" placeholder="Branch Name" [(ngModel)]="searchForm.name" />

  <select class="status" [(ngModel)]="searchForm.status">
    <option [ngValue]="null">-- Trạng thái --</option>
    <option [ngValue]="1">Hoạt động</option>
    <option [ngValue]="0">Ngừng hoạt động</option>
  </select>

  <button class="btn-search" (click)="search()">Search</button>
  <button type="button" class="btn-reset" (click)="reset()">Reset</button>

</div>

<table class="table">
  <thead>
    <tr>
      <th>BID</th>
      <th style="width: 150px;">Name</th>
      <th style="width: 150px;">Area Name</th>
      <th style="width: 150px;">Region Name</th>
      <th>Detail Address</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let b of list">
      <td>{{ b.bid }}</td>
      <td style="width: 150px;">{{ b.name }}</td>
      <td style="width: 150px;">{{ b.area_name}}</td>
      <td style="width: 150px;">{{ b.region_name}}</td>
      <td class="ellipsis">{{ b.detail_address }}</td>
      <td class="action">
        <button class="btn edit" [routerLink]="['/branch/edit', b.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="prev()">Prev</button>
  <span>{{ page + 1 }} / {{ totalPages }}</span>
  <button (click)="next()">Next</button>
</div>